.NavbarItems {
  align-items: center;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1.5rem 3.5rem;
}

.NavMenu {
  display: grid;
  grid-template-columns: repeat(4, auto);
  grid-gap: 10px;
  list-style: none;
  align-items: center;
  text-align: center;
  justify-content: end;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

.NavLinks {
  text-decoration: none;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  border-radius: 15px;
  padding: 0.7rem 1rem;
  border-radius: 25px;
}

.NavLinks:hover {
  
  background: rgb(214, 203, 203);
  border-radius: 15px;
  transition: all 0.275s ease-in-out;
}

.Me {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-weight: 700;
}

.Home {
  margin: auto;
  width: 50%;
  border: 1px solid;
  padding: 100px;
}
.Text {
  text-align: center;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}
.Paragraph {
  text-align: center;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}
